@use "@/styles/variables";

.cards-column {
	display: flex;
	flex-direction: column;
	width: 320px;
	flex-shrink: 0;
	gap: variables.$space-sm;

	&__title {
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 0.75px;
		color: variables.$color-neutral-1;
		font-weight: variables.$font-weight-bold;
		margin-bottom: 16px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: variables.$space-sm;
	}
}
