@use "@/styles/variables";
@use "@/styles/mixins";
@use "@/styles/base";

.sidebar {
	width: 232px;
	background-color: variables.$color-neutral-4;
	border-radius: variables.$border-radius-lg;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: variables.$shadow-lg; // not on Figma, but it looks better

	&__logo {
		text-align: center;
		margin-top: 12px;
		margin-bottom: variables.$space-lg;

		img {
			width: 40px;
			height: auto;
		}
	}

	&__nav {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: variables.$space-xs;
	}

	// --- Media Queries ---

	// Mobile (sm breakpoint: 640px and up)
	@include mixins.sm {
		width: 100%;
		height: auto;
		border-radius: variables.$border-radius-lg;
		padding: variables.$space-sm;
		flex-direction: row;
		justify-content: space-between;

		.sidebar__logo {
			padding: variables.$space-xs 0;
			margin: 0;
			img {
				width: 36px;
			}
		}

		.sidebar__nav {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			margin-left: variables.$space-sm;
			gap: variables.$space-sm;
			flex-grow: 1;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;

			// Hide scrollbar on mobile nav
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.sidebar__bottom-section {
			display: none;
		}
	}
}

// SIDEBAR ITEM
.sidebar-item {
	@include mixins.flex-center;
	justify-content: flex-start;
	gap: variables.$space-sm;
	cursor: pointer;
	position: relative;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	border-radius: variables.$border-radius;

	&__icon {
		width: 20px;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			fill: variables.$color-neutral-2;
			transition: fill 0.2s ease-in-out;
		}
	}

	&__label {
		@extend .text-body-m;
		color: variables.$color-neutral-2;
		transition: color 0.2s ease-in-out;
		font-weight: variables.$font-weight-normal;
	}

	&:hover {
		.sidebar-item__icon svg {
			fill: variables.$color-primary-4;
		}
		.sidebar-item__label {
			color: variables.$color-primary-4;
		}
	}

	&--selected {
		// Background with gradient effect
		background: linear-gradient(to right, #ba252500 0%, #d24d4d1a 100%);
		.sidebar-item__icon svg {
			fill: variables.$color-primary-4;
		}
		.sidebar-item__label {
			color: variables.$color-primary-4;
			font-weight: variables.$font-weight-bold;
		}

		// Red bar for selected state
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 4px;
			height: 100%;
			background-color: variables.$color-primary-4;
			border-radius: variables.$border-radius;
		}
	}
}
