@use "@/styles/variables";
@use "@/styles/mixins";

.top-navigation-bar {
	justify-content: space-between;
	border-radius: variables.$border-radius-xl;
	height: 72px;
	width: 100%;

	&__search-container {
		@include mixins.flex-center;
		flex-grow: 1;
		background-color: variables.$color-neutral-4;
		border-radius: variables.$border-radius;
		padding: variables.$space-xs variables.$space-sm;
		gap: variables.$space-md;

		.search-icon-wrapper,
		.clear-search-icon-wrapper {
			@include mixins.flex-center;
			width: 24px;
			height: 24px;
			color: variables.$color-neutral-2;

			svg {
				width: 100%;
				height: 100%;
				fill: currentColor;
			}
		}

		.clear-search-icon-wrapper {
			cursor: pointer; // Indicate clickable
			&:hover svg {
				fill: variables.$color-primary-4; // Hover effect for close icon
			}
		}

		input {
			flex-grow: 1;
			background: none;
			border: none;
			outline: none;
			color: variables.$color-neutral-1;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0.75px;
			padding: 0;

			&::placeholder {
				color: variables.$color-neutral-2;
			}
		}
	}

	&__right-section {
		@include mixins.flex-center;
		gap: variables.$space-md;

		.notification-icon {
			width: 24px;
			height: 24px;
			color: variables.$color-neutral-2;
			cursor: pointer;
			transition: color 0.2s ease;

			&:hover {
				color: variables.$color-primary-4;
			}
			svg {
				width: 100%;
				height: 100%;
				fill: currentColor;
			}
		}

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: variables.$border-radius-full;
			object-fit: cover;
			cursor: pointer;
			border: 2px solid transparent;
			transition: border-color 0.2s ease;

			&:hover {
				border-color: variables.$color-primary-4;
			}
		}
	}
}
