@use "variables";

// Responsive breakpoints mixins
@mixin sm {
	@media (max-width: variables.$breakpoint-sm) {
		@content;
	}
}

@mixin md {
	@media (min-width: variables.$breakpoint-md) {
		@content;
	}
}

@mixin lg {
	@media (min-width: variables.$breakpoint-lg) {
		@content;
	}
}

@mixin xl {
	@media (min-width: variables.$breakpoint-xl) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: variables.$breakpoint-2xl) {
		@content;
	}
}

// Flexbox utilities
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Button styling mixin
@mixin button-styles(
	$bg-color: variables.$color-neutral-4,
	$text-color: variables.$color-neutral-1
) {
	background-color: $bg-color;
	color: $text-color;
	padding: variables.$space-sm variables.$space-md;
	border: none;
	border-radius: variables.$border-radius;
	cursor: pointer;
	font-size: variables.$font-size-base;
	transition: background-color 0.3s ease;

	&:hover {
		filter: brightness(0.9);
	}
}

// Card styling mixin
@mixin card-styles {
	background-color: #fff;
	border-radius: variables.$border-radius-lg;
	box-shadow: variables.$shadow-md;
	padding: variables.$space-lg;
}

// Popover

@mixin popover-base {
	background-color: variables.$color-neutral-3;
	border-radius: variables.$border-radius-lg;
	padding: variables.$space-sm;
	z-index: 102;
	display: flex;
	flex-direction: column;
	gap: variables.$space-xs;

	opacity: 0;
	transform: translateY(-10px);
	transition:
		opacity 150ms ease-out,
		transform 150ms ease-out;

	&[data-state="open"] {
		opacity: 1;
		transform: translateY(0);
	}
}
